@media (max-width: 600px) {
    .search-bar {
      display: none;
    }
}
.search-bar {
    margin-right: 1vw;
  }
@media (max-width: 1000px) {
    .navbarNav {
      position: absolute;
      right : 5px;
    }
    .search-bar {
        margin-right: 70px;
    }
}